<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>618018760123-5c3b4qk7bgomvc6nfg55ingahkncr7vk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618018760123-5c3b4qk7bgomvc6nfg55ingahkncr7vk</string>
	<key>API_KEY</key>
	<string>AIzaSyC8n_hDKUeTBdBJAVMV_AZfxsJ7GH3W_rY</string>
	<key>GCM_SENDER_ID</key>
	<string>618018760123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>WhatCat-version-1.0</string>
	<key>PROJECT_ID</key>
	<string>ssdv1coco</string>
	<key>STORAGE_BUCKET</key>
	<string>ssdv1coco.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618018760123:ios:52ef5ce570efbeec</string>
	<key>DATABASE_URL</key>
	<string>https://ssdv1coco.firebaseio.com</string>
</dict>
</plist>